body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
}

header div,
.jumbotron div,
.section-about div,
.footer-top,
.footer-bottom {
  color: white;
}

header {
  background-color: #2C3E50;
  position: fixed;
  width: 100%;
}

.col-md-6>.title {
  font-weight: bold;
}

.menu {
  display: inline;
  list-style: none;
}

.text-end a {
  text-decoration: none;
  color: white;
}

.text-end a:hover {
  color: #1ABC9C;
}

.menu li {
  padding: 5px 10px;
  display: inline-block;
}

.text-end .fa-bars {
  display: none;
}

.jumbotron {
  background-color: #1ABC9C;
  padding: 80px 0;
}

.img-avatar .avatar {
  width: 30%;
  margin-bottom: 10px;
}

.star {
  margin-bottom: 10px;
}

.jumbotron .star::before,
.jumbotron .star::after {
    content: '';
    width: 20%;
    height: 2px;
    display: inline-block;
    background-color: white;
    vertical-align: middle;
}


.text-center .text {
  font-size: 1.3em;
  font-weight: 300;
}

.text-center h2 {
  color: #2C3E50;
}

.section-portfolio {
  padding: 30px 0;
}

.section-portfolio .star::before,
.section-portfolio .star::after {
    content: '';
    width: 8%;
    height: 2px;
    display: inline-block;
    background-color: #2C3E50;
    vertical-align: middle;
}


.section-portfolio .fa-star {
  color: #2C3E50;
}

.margin-bottom {
  margin-bottom: 10px;
}

.image>img {
  width: 100%;
  border-radius: 10px;
}

.section-about {
  background-color: #1ABC9C;
  padding: 30px 0;
}

.section-about 
h2,
.fa-star {
  color: white;
}

.section-about .star::before,
.section-about .star::after {
    content: '';
    width: 20%;
    height: 2px;
    display: inline-block;
    background-color:white;
    vertical-align: middle;
}

.section-about .text {
  text-transform: none;
}

.section-about .btn-group {
  margin-top: 30px;
}

.section-about .btn-primary {
  background-color: transparent;
  border: 1px solid white;
}

.section-about .btn-primary:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.section-about .btn-primary:focus {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.section-contact {
  padding: 30px 0;
}

.section-contact .star::before,
.section-contact .star::after {
    content: '';
    width: 25%;
    height: 2px;
    display: inline-block;
    background-color:#2C3E50;
    vertical-align: middle;
}

.section-contact .fa-star {
  color: #2C3E50;
}

.section-contact form {
  text-transform: none;
}

.section-contact .btn-primary {
  background-color: #1ABC9C;
  color: white;
  border: 1px solid #1ABC9C;
}

.section-contact .btn-primary:hover {
  background-color: #1ABC9C;
  color: white;
  border: 1px solid #1ABC9C;
}

.section-contact .btn-primary:active {
  background-color: #3A546D;
  color: white;
  border: 1px solid #3A546D;
}

.section-contact .btn-primary:focus {
  background-color: #3A546D;
  color: white;
  border: 1px solid #3A546D;
}

.border {
  border: 0;
}

.border_input {
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}

footer .footer-text, .footer-bottom {
  text-transform: none;
}

.footer-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-text .link-icona {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  vertical-align: middle;
}

.footer-text .link-icona .icona {
  vertical-align: -webkit-baseline-middle;
}

.footer-text .link-icona .circle {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}


.footer-text .green {
  color: #1ABC9C;
}


.footer-top {
  background-color: #3A546D;
}

.footer-bottom {
  background-color: #2C3E50;
}

@media screen and (max-width: 576px) {
  .menu {
    display: none;
  }

  .text-right .fa-bars {
    display: inline;
  }
}