header div,
.jumbotron div,
.section-about div,
.footer-top,
.footer-bottom {
  color: white;
}

header {
  background-color: #2C3E50;
}

.menu {
  display: inline;
  list-style: none;
}

.text-right a {
  text-decoration: none;
  color: white;
}

.text-right a:hover {
  color: white;
}

.menu li {
  padding: 5px 10px;
  display: inline-block;
}

.text-right .fa-bars {
  display: none;
}

.text-right {
  text-align: end;
}

.jumbotron {
  background-color: #1ABC9C;
}

.text-center {
  text-align: center;
}

.bg-red {
  background-color: #BA4B63;
  border-radius: 10px;
}

.bg-acqua {
  background-color: #1EA4B6;
  border-radius: 10px;
}

.bg-black {
  background-color: #140F0F;
  border-radius: 10px;
}

.bg-cyan {
  background-color: #1C83C1;
  border-radius: 10px;
}

.bg-blue {
  background-color: #0E38B5;
  border-radius: 10px;
}

.bg-pink {
  background-color: #CCB2A3;
  border-radius: 10px;
}

.section-about {
  background-color: #1ABC9C;
}

.footer-top {
  background-color: #3A546D;
}

.footer-bottom {
  background-color: #2C3E50;
}

@media screen and (max-width: 576px) {
  .menu {
    display: none;
  }

  .text-right .fa-bars {
    display: inline;
  }
}