body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
}

header div,
.jumbotron div,
.section-about div,
.footer-top,
.footer-bottom {
  color: white;
}

header {
  background-color: #2C3E50;
}

.col-md-6>.title {
  font-weight: bold;
}

.menu {
  display: inline;
  list-style: none;
}

.text-end a {
  text-decoration: none;
  color: white;
}

.text-end a:hover {
  color: #1ABC9C;
}

.menu li {
  padding: 5px 10px;
  display: inline-block;
}

.text-end .fa-bars {
  display: none;
}

.jumbotron {
  background-color: #1ABC9C;
}

.img-avatar .avatar {
  width: 30%;
  margin-bottom: 10px;
}

.star::after {
  content: '';
  width: 80px;
  border: 1px solid white;
}

.star::before {
  content: '';
  border: 1px solid white;
}

.bg-red {
  background-color: #BA4B63;
  border-radius: 10px;
}

.bg-acqua {
  background-color: #1EA4B6;
  border-radius: 10px;
}

.bg-black {
  background-color: #140F0F;
  border-radius: 10px;
}

.bg-cyan {
  background-color: #1C83C1;
  border-radius: 10px;
}

.bg-blue {
  background-color: #0E38B5;
  border-radius: 10px;
}

.bg-pink {
  background-color: #CCB2A3;
  border-radius: 10px;
}

.section-about {
  background-color: #1ABC9C;
}

.footer-top {
  background-color: #3A546D;
}

.footer-bottom {
  background-color: #2C3E50;
}

@media screen and (max-width: 576px) {
  .menu {
    display: none;
  }

  .text-right .fa-bars {
    display: inline;
  }
}